body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

header h1 {
  margin: 0;
}

main {
  padding: 2rem;
}

/* Navigation */
.topnav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.topnav li {
  float: left;
}

.topnav li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topvan li a:hover, .dropdown:hover .dropbtn {
  background-color: #111;
}

/*.dropbtn {
  background-color: #333;
  color: white;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  float: left;
}*/

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #111
}

.dropdown:hover .dropdown-content {
  display: block;
}
/* End Top navigation */


#movieList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

.movie-card {
  padding: 10px;
}

.movie-cards-container img {
  height: 300px;
  width: auto;
  /*float: left;*/
}
